:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --background-color: #ffffff;
  --hero-section-color: #2f303a;
  --team-section-color: #f5f4fa;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --additional-text-color: #ffffff;
  --card-gap: 30px;
  --card-item: 3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

a {
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}

.card-set-item {
  flex-basis: calc((100% - ((var(--card-item) - 1) * var(--card-gap))) / var(--card-item));
}

/* Header*/

.header {
  background: var(--background-color);
  border-bottom: 1px solid #ececec;
}

.header-div {
  display: flex;
  align-items: center;
}

.navigation-menu {
  display: flex;
  margin-left: 93px;
}

/*.contact-menu {
  margin-left: auto;
}

/* Logo*/

.page-logo,
.page-logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  text-decoration: none;
}

.web-black {
  color: var(--title-text-color);
}

.web-white {
  color: var(--additional-text-color);
}

/*Nav-list*/

.nav-menu {
  display: flex;
}

/*.nav-li {
  width: calc(100% - ((3-1) * 50px) / 3);
}*/

.nav-li:not(:last-child) {
  margin-right: 50px;
}

.list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.link {
  color: var(--title-text-color);
  text-decoration: none;
  display: block;
  padding: 32px 0;
}

.link-data {
  color: var(--primary-text-color);
  text-decoration: none;
}

.nav-menu .link:hover,
.nav-menu .link:focus,
.contact-menu .link:hover,
.contact-menu .link:focus,
.link-data:hover,
.link-data:focus {
  color: var(--accent-color);
}

.nav-menu .link.current {
  color: var(--accent-color);
}

.contact-menu {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

/* Hero */

.hero {
  background-color: var(--hero-section-color);
  text-align: center;
  padding: 200px 0;
}

.hero-title {
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  color: var(--additional-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* section features*/

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*.feature-list {
  display: flex;
  flex-wrap: nowrap;
  min-width: 270px;
}*/

.feature-list {
  --card-item: 4;
}

.feature-list li {
  width: 270px;
}

.feature-list .title {
  color: var(--title-text-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  text-align: left;
}

/* section work*/

.work-list {
  padding-bottom: 94px;
}

.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}

/* section team*/

.our-team {
  background-color: var(--team-section-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-ul {
  --card-item: 4;
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
  text-align: center;
}

.team-section {
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.container-team {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Footer*/

.footer {
  background-color: var(--hero-section-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-logo-footer {
  margin-bottom: 20px;
  display: block;
}

.street {
  font-style: normal;
  color: var(--additional-text-color);
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 9px;
}

.footer-list > li:not(:last-child) {
  margin-bottom: 9px;
}

.contact-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--contacts-text-color);
  text-decoration: none;
}

/* Portfolio*/

.prime-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-menu {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.li-button:not(:last-child) {
  margin-right: 8px;
}

.filter-item {
  color: var(--title-text-color);
  background-color: var(--team-section-color);
  border-style: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
}

.filter-item:hover,
.filter-item:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.text-project {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-inline: 24px;
  border: 1px solid #eeeeee;
}

.title-similar {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.text-similar {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.link-block {
  text-decoration: none;
}
